<div class="login-page" *ngIf="!redirect">
  <div class="left">
    <div class="login-all">
      <div class="welcome">
        <div class="well">LOGIN</div>
      </div>
      <div class="login">
        <div class="sign">Sign in</div>
        <div class="email">
          <div class="text">
            <div>Email</div><span>&nbsp;*</span>
          </div>
          <div class="input">
            <input type="text" placeholder="test@test.com">
          </div>
        </div>
        <div class="pass">
          <div class="text">
            <div>Password</div><span>&nbsp;*</span>
          </div>
          <div class="input">
            <input type="password">
            <i class="fa fa-eye"></i>
          </div>
        </div>
        <div class="submit" (click)="goTo()">LOGIN</div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="redirect">
  <router-outlet></router-outlet>
</ng-container>
