@import "../../assets/app";
.login-page {
  @include dimension(100%, 100vh);
  @include flex(space-between);
  font-size: 14px;
  overflow: hidden;
  .left {
    @include dimension;
    @include flex;
    flex-direction: column;
    background-color: #F5F6F8;
    .login-all {
      @include dimension;
      @include flex;
      flex-direction: column;
      .welcome {
        @include dimension(100%, unset);
        @include flex;
        flex-direction: column;
        color: $color-blue;
        margin-bottom: 1em;
        .well {
          font-size: 2em;
          margin-bottom: - 0.2em;
        }
        .plat {
          font-size: 2em;
          font-weight: bold;
        }
      }
      .login {
        @include dimension(23em, unset);
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px 5px lightgrey;
        border-radius: .5em;
        padding: 1.5em;
        background-color: white;
        .sign {
          @include dimension(100%, 2.5em);
          font-size: 1.5em;
        }
        .email {
          @include dimension(100%, unset);
          flex-direction: column;
          .text {
            display: flex;
            font-size: 1em;
            margin-bottom: .3em;
            div {
              font-size: 1em;
            }
            span {
              color: red;
            }
          }
          .input {
            input {
              @include dimension(calc(100% - 1em), 3em);
              font-size: 1em;
              padding-left: 1em;
              margin-bottom: 2em;
              border: 1px solid lightgrey;
              color: lightgrey;
              border-radius: .3em;
              &:hover {
                border: 1px solid black;
              }
            }
          }
        }
        .pass {
          @include dimension(100%, unset);
          flex-direction: column;
          .text {
            display: flex;
            font-size: 1em;
            margin-bottom: .3em;
            div {
              font-size: 1em;
            }
            span {
              color: red;
            }
          }
          .input {
            position: relative;
            i {
              color: lightgrey;
              position: absolute;
              right: 1em;
              top: 1.2em;
              cursor: pointer;
              font-size: 1em;
            }
            input {
              @include dimension(calc(100% - 1em), 3em);
              font-size: 1em;
              padding-left: 1em;
              margin-bottom: 2em;
              border: 1px solid lightgrey;
              color: lightgrey;
              border-radius: .3em;
              &:hover {
                border: 1px solid black;
              }
            }
          }
        }
        .submit {
          @include dimension(100%, 2.7em);
          @include flex;
          background-color: $color-pink;
          color: white;
          cursor: pointer;
          border-radius: .3em;
          margin-top: 1em;
        }
      }
      .reg {
        @include dimension(100%, 3em);
        @include flex;
        margin-top: 1em;
        .text {
          font-size: 1.2em;
          margin-right: .3em;
          font-weight: bold;
        }
        .btn {
          @include dimension(8em, 2.5em);
          @include flex;
          border: 1px solid $color-pink;
          color: $color-pink;
          font-size: 1em;
          cursor: pointer;
          border-radius: .2em;
        }
      }
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 425px) {
  .login-page {
    font-size: 6px;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .login-page {
    font-size: 8px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .login-page {
    font-size: 10px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .login-page {
    font-size: 12px;
  }
}
