<div class="all">
  <div class="header">
    <div>LOGO</div>
    <i class="fa fa-user"></i>
  </div>
  <div class="dashboard">
    <div class="tabordion">
      <section id="section1">
        <input type="radio" name="sections" id="option1" checked>
        <label for="option1">menu 1</label>
        <article style="height: 100%;">
          <div style="height: 100%;padding: 15px">
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
            letters, as opposed to using 'Content here, content here', making it look like readable English. Many
            desktop
          </div>
        </article>
      </section>
      <section id="section2">
        <input type="radio" name="sections" id="option2">
        <label for="option2">menu 2</label>
        <article style="height: 100%;">
          <div style="height: 100%;padding: 15px">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
            Ipsum passage, and going through the cites of the w
          </div>
        </article>
      </section>
      <section id="section3">
        <input type="radio" name="sections" id="option3">
        <label for="option3">menu 3</label>
        <article style="height: 100%;">
          <div style="height: 100%;padding: 15px">
            first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful
            of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is
            therefore always free from repetition, injected humour, or non-characteristic words etc.
          </div>
        </article>
      </section>
      <section id="section4">
        <input type="radio" name="sections" id="option4">
        <label for="option4">menu 4</label>
        <article style="height: 100%;">
          <div style="height: 100%;padding: 15px">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
            also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset
          </div>
        </article>
      </section>
    </div>
  </div>
</div>
