.all {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .header {
    width: 100%;
    height: 50px;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    i {
      position: absolute;
      right: 21px;
      font-size: 20px;
    }
  }
  .dashboard {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    h1 {
      color: #333;
      font-family: arial, sans-serif;
      margin: 1em auto;
      width: 80%;
    }

    .tabordion {
      color: #333;
      display: block;
      font-family: arial, sans-serif;
      //margin: 15px 0;
      position: relative;
      width: 100% !important;
      font-size: 13px;
    }

    .tabordion input[name="sections"] {
      left: -9999px;
      position: absolute;
      top: -9999px;
    }

    .tabordion section {
      display: block;
    }

    .tabordion section label {
      background: #ccc;
      border:1px solid #fff;
      cursor: pointer;
      display: block;
      font-size: 1.2em;
      font-weight: bold;
      padding: 15px;
      position: relative;
      width: 55px;
      z-index:100;
    }

    .tabordion section article {
      display: none;
      left: 68px;
      min-width: 300px;
      padding: 0 0 0 21px;
      position: absolute;
      top: 0;
    }

    .tabordion section article:after {
      background-color: #ccc;
      bottom: 0;
      content: "";
      display: block;
      left:-67px;
      position: absolute;
      top: 0;
      width: 55px;
      padding: 10px 15px;
      z-index:1;
    }

    .tabordion input[name="sections"]:checked + label {
      background: #eee;
      color: #bbb;
    }

    .tabordion input[name="sections"]:checked ~ article {
      display: block;
    }


    @media (max-width: 533px) {

      h1 {
        width: 100%;
      }

      .tabordion {
        width: 100%;
      }

      .tabordion section label {
        font-size: 1em;
        width: 55px;
      }

      .tabordion section article {
        left: 100px;
      }

      .tabordion section article:after {
        background-color: #ccc;
        bottom: 0;
        content: "";
        display: block;
        left:-199px;
        position: absolute;
        top: 0;
        width: 55px;

      }

    }


    @media (max-width: 768px) {
      h1 {
        width: 96%;
      }

      .tabordion {
        width: 96%;
      }
    }


    @media (min-width: 1366px) {
      h1 {
        width: 70%;
      }

      .tabordion {
        width: 70%;
      }
    }


  }
}
