$color-blue: #191955;
$color-pink: green;
@mixin dimension($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}
@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
